@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poiret+One&family=Roboto+Mono:wght@700&display=swap");
body {
  background-color: beige;
}
.container {
  justify-content: center;
  text-align: center;
  align-items: center;
  max-width: 500;
}
h1 {
  font-family: "Pacifico";
  font-size: 50px;
  color: #f14b09c4;
  font-weight: 200;
}
.btn {
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 18px;
  background-color: rgb(111, 173, 18);
  color: white;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  margin-top: 10px;
  transition-duration: 0.4s;
}
.btn:hover {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
p {
  margin: 20px;
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
  font-weight: 900;
  color: darkblue;
}

input {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.inputlabel {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  padding: 10px;
}

#renderedItems {
  border: 1px dashed gray;
  padding: 20px;
  width: 250px;
  background-color: aliceblue;
  border-radius: 20px;
  display: none;
}

li {
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  font-weight: 500;
  color: Red;
  cursor: pointer;
}

/* -------------- */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 120%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
